.place__link {
  font-weight: 400;
  font-size: 18px;
  line-height: 122%;
  color: #FFFFFF;
  margin: 0;
  padding: 0;
}

@media (any-hover: hover) {
.place__link:hover {
  opacity: 0.8;
  transition: opacity .3s;
  cursor: pointer;
 }
}

@media  screen and (max-width: 620px) {
  .place__link {
    padding: 0 24px;
  }
}

@media screen and (max-width: 425px) {
  .place__link {
    padding: 0 16px;
  }
}