.place {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  gap: 48px 32px;
  align-items: end;
  margin-top: 80px;
}

.place:first-child {
  margin-top: 0;
}

@media screen and (max-width: 768px) {
  .place {
    gap: 48px 28px;
    margin-top: 73px;
  }
}

@media screen and (max-width: 620px) {
  .place {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 100%;
    margin-top: 50px;
    gap: 32px;
  }
}