.place__url-heading {
  font-weight: 400;
  font-size: 12px;
  line-height: 170%;
  letter-spacing: 2px;
  color: #AAAAAA;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 1024px) {
  .place__url-heading {
    line-height: 100%;
  }
}

@media  screen and (max-width: 620px) {
  .place__url-heading {
    padding: 0 24px;
    align-self: start;
  }
}

@media screen and (max-width: 425px) {
  .place__url-heading {
    padding: 0 16px;
  }
}